* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
header {
  background-color: white;
  vertical-align: middle;
}
#logo {
  vertical-align: middle;
}

body {
  background-color: rgb(246, 248, 249);
}

h1 {
  display: inline-block;
  font-size: 42px;
}
h2 {
  font-size: 18px;
  margin-top: 10px;
}
.container {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 50px;
  background-color: white;
  box-sizing: border-box;
}

/* sostituito hr con border bottom div inferiore  */
.taskbox {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(246, 248, 249);
  padding-left: 40px;
  padding-bottom: 20px;
}

button {
  text-align: center;
  padding: 8px;
  border-radius: 10%;
}

#btnblue {
  background-color: rgb(71, 173, 241);
  color: white;
  font-size: 12px;
  border: none;
}
#btngrey {
  background-color: transparent;
  border: 1px;
  border-color: rgb(216, 221, 223);
  border-style: solid;
  color: rgb(216, 221, 223);
  font-size: 12px;
}
hr {
  background-color: rgb(246, 248, 249);
  border: none;
  height: 2px;
}
.downarrow {
  font-size: 15px;
}

.boxlist {
  padding-left: 40px;
  padding-top: 20px;
  font-size: 12;
}
.circlegreen {
  font-size: 8px;
  color: rgb(4, 201, 20);
  height: 10px;
  border: 1px;
  border-radius: 100%;
  border-color: rgb(4, 201, 20);
  border-style: solid;
  padding: 2px;
  padding-left: 3px;
  text-align: center;
  padding-right: 3px;
  margin-right: 5px;
}

/* fix font-size cross  */
.crossred {
  font-size: 8px;
  color: rgb(201, 4, 4);
  height: 10px;
  border: 1px;
  border-radius: 100%;
  border-color: rgb(201, 4, 4);
  border-style: solid;
  padding: 2px;
  padding-left: 3px;
  text-align: center;
  padding-right: 3px;
  margin-right: 5px;
}
/* rowdistance utilizzato per la gestione delle righe */
.rowdistance {
  margin-top: 12px;
}

.boxtask {
  color: white;
  font-size: 10px;
  padding: 6px;
  margin-top: 8px;
  border-radius: 20px;
}

.colorboxcyan {
  background-color: rgb(69, 171, 234);
}

.colorpurple {
  background-color: rgb(156, 114, 228);
}

.colororange {
  background-color: rgb(242, 158, 51);
}
.colorpink {
  background-color: rgb(216, 99, 161);
}
.colorgreen {
  background-color: rgb(176, 201, 38);
}
